{% extends "basic.html" %}

{% block status %}
{% if session.logged_in %}
<ul class="nav pull-right">
  <li><a href="#" style="fontsize:20px">{{ session.username }}</a></li>
  <li><a href="/profile">个人中心</a></li>
  {% if session.shopsowner_group %}
    <li><a href="/sellercenter">卖家中心</a></li>
  {% endif %}
  <li><a href="/signout">登出</a></li>
  {% if session.member_group %}
      <li><a href="/#"><span class="label">VIP</span></a></li>
  {% endif %}
</ul>
{% else %}
<ul class="nav pull-right">
  <li><a href="/signin">登录</a></li>
  <li><a href="/register">注册</a></li>
</ul>
{% endif %}
{% endblock status %}


{% block title %}
<h1 style="text-align:center">{% block name %}{% endblock name %}Hi,{{ session.username }} 欢迎来到MySpace!</h1>
{% endblock title %}


{% block head %}
<hr>
<div class="container">
  <div id="newaccount" class="span12" style="text-aligh:center">
    <p><span class="label">制作成员: </span>&nbsp;&nbsp;CodeCompiler<br></p>
    <p><span class="label label-success">Web Framework: </span>&nbsp;&nbsp;Python Flask<br></p> 
    <p><span class="label label-info">CSS Framework: </span>&nbsp;&nbsp;Bootstrap, from Twitter</p>
    <p><span class="label label-important">Html Engine: </span>&nbsp;&nbsp;Jinja2<br></p>
  </div>
</div>
<hr>
{% endblock head %}

{% block body %}
<script type="text/javascript">
  document.body.onload = function() {
    document.getElementById("li-about").className = "active"; 
  }
</script>
{% endblock body %}
