{% extends "basic.html" %}
{% block status %}
{% if session.logged_in %}
<ul class="nav pull-right">
  <li><a href="#" style="fontsize:20px">{{ session.username }}</a></li>
  <li><a href="/profile">个人中心</a></li>
  {% if session.shopsowner_group %}
    <li><a href="/sellercenter">卖家中心</a></li>
  {% endif %}
  <li><a href="/signout">登出</a></li>
  {% if session.member_group %}
      <li><a href="/#"><span class="label">VIP</span></a></li>
  {% endif %}
</ul>
{% else %}
<ul class="nav pull-right">
  <li><a href="/signin">登录</a></li>
  <li><a href="/register">注册</a></li>
</ul>
{% endif %}
{% endblock status %}


{% block name %}
{% if session.logged_in %}
Hi, <a href="#">{{ session.username }}.</a>
{% endif %}
{% endblock name %}


{% block body %}
<div class="container">
  <div class="alert alert-error span8" style="opacity:.9;margin:0px;">
  {% for entry in entries %}
    <img src="../static/img/book.png" class="span3">
    <h2>{{ entry.shopname }}</h2>
    <h3>Price: {{ entry.shopprice }} RMB</h3>
    <h3>Tag: <code>{{ entry.tag }}</code></h3>
    <span class="label label-important" style="margin:15px;margin-left:0px">
      {% for i in entry.shopstar %}
      <i class="icon-heart"></i>
      {% endfor %}
    </span><br>
    <form id="form" action="/addshop" method="post">
      <input id="quantity" onblur="checkout();" class="input-text text" style="width:22px;margin-top:8px;margin-left:0px;text-align:center" type="text" maxlength="3" value="1" name="quantity">
      <button id="submit" name="id" value={{ entry.id }} class="btn btn-success" style="margin:5px;margin-left:0px">加入购物车</button>
      <span id="error" style="display:none" class="label label-important">Invalid Input!</span>
    </form>
    <form id="form" action="/directpurchase" method="post">
      <input id="quantity" onblur="checkout();" class="input-text text" style="width:22px;margin-top:8px;margin-left:0px;text-align:center" type="text" maxlength="3" value="1" name="quantity">
      <button id="submit" name="id" value={{ entry.id }} class="btn btn-success" style="margin:5px;margin-left:0px">直接结算</button>
      <span id="error" style="display:none" class="label label-important">Invalid Input!</span>
    </form>
    <hr><h4>{{ entry.shopdes }}</h4>
  </div>
  {% endfor %}
  <div class="span3" style="float: left;margin-left: 100px">
    <div class="well" style="opacity:.6;overflow:hidden;">
        {%if session.logged_in %}
        <h3 style="margin-left:5px">你的购物车为&nbsp;
          <span style="color:green">{% if session.total %}{{ session.total }}{% else %}0{% endif %}</span> 元<h3>
        {% else %}
        <h3 style="margin-left:5px">Please <a href="/signin">sign in!</a></h3>
        {% endif %}
        <a href="/shopcar"><img src="../static/img/shopcart.png" alt="shopcart" style="float:left"></a>
        {%if session.logged_in %}
            <a href="/shopmanager"><button class="btn" style="float: left"><i class="icon-shopping-cart"></i> Shopcar</button></a>
            <a href="/checkout"><button class="btn" style="float: left;margin-top: 10px"><i class="icon-pencil"></i> Checkout</button></a>
        {% endif %}
    </div>
  </div>

<div class="faq-info" style="margin-top: 450px">
		<div class="container">
			<div class="title-info">
				<h3 class="title">留言<span> 板</span></h3>
			</div>
			<ul class="faq">
                {% for k in range( curstartrange , curendrange ) %}
				<li class="item1 wow fadeInDown animated" data-wow-delay=".5s"><a href="#">来自{{ messageentries[k].username }}的留言:<span class="icon"> 标题：{{messageentries[k].messagename}}</span></a>
					<ul>
						<li class="subitem1"><p> {{messageentries[k].message}}</p></li>
					</ul>
				</li>
                {% endfor %}
			</ul>
			<!-- script for tabs -->
			<script type="text/javascript">
				$(function() {

					var menu_ul = $('.faq > li > ul'),
						   menu_a  = $('.faq > li > a');

					menu_ul.hide();

					menu_a.click(function(e) {
						e.preventDefault();
						if(!$(this).hasClass('active')) {
							menu_a.removeClass('active');
							menu_ul.filter(':visible').slideUp('normal');
							$(this).addClass('active').next().stop(true,true).slideDown('normal');
						} else {
							$(this).removeClass('active');
							$(this).next().stop(true,true).slideUp('normal');
						}
					});

				});
			</script>
			<!-- script for tabs -->
		</div>
	</div>


<div class="wl_page span6" style="position:relative;left:30%;">
    {% if pagemax == 1 %}
        共有<span>{{ total_recordnum }}</span>条，分为<span>{{ pagemax }}</span>页，每页<span>5</span>条，当前显示第<span>{{ curpage }}</span>页
    [<a disabled = "disabled">首页</a>]
    [<a disabled = "disabled">上一页</a>]
    [<a disabled = "disabled">下一页</a>]
    [<a disabled = "disabled">末页</a>]
    {% endif %}
    {% if pagemax > 1 and curpage == 1 %}
        共有<span>{{ total_messagenum }}</span>条，分为<span>{{ pagemax }}</span>页，每页<span>5</span>条，当前显示第<span>{{ curpage }}</span>页
        [<a disabled = "disabled">首页</a>]
        [<a disabled = "disabled">上一页</a>]
        [<a href="/shopmessage?curpage=nextpage">下一页</a>]
        [<a href="/shopmessage?curpage={{ pagemax }}">末页</a>]
    {% endif %}
    {% if pagemax > 1 and curpage > 1 and curpage < pagemax %}
        共有<span>{{ total_messagenum }}</span>条，分为<span>{{ pagemax }}</span>页，每页<span>5</span>条，当前显示第<span>{{ curpage }}</span>页
        [<a href="/shopmessage?curpage=1">首页</a>]
        [<a href="/shopmessage?curpage=prevpage">上一页</a>]
        [<a href="/shopmessage?curpage=nextpage">下一页</a>]
        [<a href="/shopmessage?curpage={{ pagemax }}">末页</a>]
    {% endif %}
    {% if pagemax > 1 and curpage == pagemax %}
        共有<span>{{ total_messagenum }}</span>条，分为<span>{{ pagemax }}</span>页，每页<span>5</span>条，当前显示第<span>{{ curpage }}</span>页
        [<a href="/shopmessage?curpage=1">首页</a>]
        [<a href="/shopmessage?curpage=prevpage"">上一页</a>]
        [<a disabled = "disabled">下一页</a>]
        [<a disabled = "disabled">末页</a>]
    {% endif %}
</div>

  <div class="message_container " style="position:relative;left:30%;margin-top: 50px">
  <div id="addmessage" class="span4">
    <form    action="/addmessage" method="post" class="form-inline" style="">
        <ul class="list-group">
        <li class="list-group-item"><label>留言标题:</label><input id="titlename" class="input-large" name="messagename"  placeholder="title"></li>
        <li class="list-group-item"><label>留言信息:</label><input id="messagesome" class="input-large" name="message"  placeholder="message"></li>
            <button id="message_submit" type="submit" class="btn btn-primary" style="position:relative;left:40%;margin-top: 10px"><i class="icon-bookmark"></i> 提交</button>
         </ul>
  </form>
</div>
</div>
</div>
<script language="JavaScript" type="text/javascript">
    function checkout() {
        var quantity = document.getElementById("quantity");
        if (isInteger(quantity.value)) {
            document.getElementById("error").style.display = "none";
            document.getElementById("submit").removeAttribute("disabled");
        } else {
            document.getElementById("error").style.display = "";
            document.getElementById("submit").disabled = "true";
        }
    }
    function isInteger( str ){
        var regu = /^[-]{0,1}[0-9]{1,}$/;
        return regu.test(str);
    }
    //function message_checkout() {
    //    var titlename = document.getElementById('titlename');
    //    var messagesome = document.getElementById('messagesome');
    //    if ((name.value.length < 2)||(message.value.length < 2)) {
    //        document.getElementById("error").style.display = "";
    //        document.getElementById("submit").disabled = "true";
    //    } else {
    //        document.getElementById("error").style.display = "none";
    //        document.getElementById("submit").removeAttribute("disabled");
    //    }
    //}
</script>

{% endblock body %}