{% extends "basic.html" %}

{% block status %}
{% if session.logged_in %}
<ul class="nav pull-right">
  <li><a href="#" style="fontsize:20px">{{ session.username }}</a></li>
  <li><a href="/profile">个人中心</a></li>
  {% if session.shopsowner_group %}
    <li><a href="/sellercenter">卖家中心</a></li>
  {% endif %}
  <li><a href="/signout">登出</a></li>
  {% if session.member_group %}
      <li><a href="/#"><span class="label">VIP</span></a></li>
  {% endif %}
</ul>
{% else %}
<ul class="nav pull-right">
  <li><a href="/signin">登录</a></li>
  <li><a href="/register">注册</a></li>
</ul>
{% endif %}
{% endblock status %}


{% block title %}
<h1 style="text-align:center">{% block name %}{% endblock name %}Hi,{{ session.username }} 欢迎来到MySpace!</h1>
{% endblock title %}


{% block head %}



{% endblock head %}


{% block body %}
    <div class="login-page">
		<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
		</div>
		<div class="widget-shadow">
			<div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
				<h4>欢迎来到购物网站！<br> 如果你没有账号请 <a href="/register">  点我注册 »</a> </h4>
			</div >
			<div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
				<form action="/signin" method="post">
					<input type="text" class="user" name="username" placeholder="Enter your email" required="">
					<input type="password" name="password" class="lock" placeholder="Password">
					<input type="submit" name="登陆" value="Sign In">
                    {% if error %}
                    <label class="label label-important">{{ error }}</label>
                    {% endif %}
				</form>
			</div>
		</div>
	</div>
    <hr>
<script type="text/javascript">
  document.body.onload = function() {
    document.getElementById("li-signin").className = "active"; 
  }
</script>
{% endblock body %}
